.header {
	form {
		max-width: 636px;
		@include media-breakpoint-down(lg) {
			max-width: 100%;
		}
	}
	.navbar-brand img {
		width: 227px;
		@include media-breakpoint-down(lg) {
			width: 130px;
		}
	}
}

.footer .logo {
	width: 195px;
	@include media-breakpoint-down(lg) {
		width: 162px;
	}
}

.btn {
	span {
		color: #ffffff;
	}
	&:is(:hover, :focus) {
		span {
			color: $brand-300;
		}
	}
}

// .input {
//   border-radius: ;
// }
