.header {
	form {
		max-width: 636px;
		@include media-breakpoint-down(lg) {
			max-width: 100%;
		}
	}
	.navbar-brand img {
		width: 227px;
		@include media-breakpoint-down(lg) {
			width: 130px;
		}
	}
}

.footer .logo {
	width: 195px;
	@include media-breakpoint-down(lg) {
		width: 162px;
	}
}

.navbar {
	.nav-link {
		&:before {
			content: "";
			position: absolute;
			max-width: 0;
			width: 100%;
			height: 4px;
			border-radius: 0.5rem;
			background-color: $brand-300;
			bottom: 6px;
			left: 50%;
			transform: translateX(-50%);
			transition: all 0.25s ease 0s;
		}
		&:is(:hover, :focus) {
			&:before {
				max-width: 48px;
			}
		}
	}
}

.btn {
	span {
		color: #ffffff;
	}
	&:is(:hover, :focus) {
		span {
			color: $brand-300;
		}
	}
}
