<div class="overflow-hidden">
	<div class="home-banner swiper overflow-visible" id="home-banner">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide slide-1">
				<div class="d-flex w-100 h-100 justify-content-center align-items-center position-relative z-2">
					<h2 class="text-bold text-gray-400 fs-4 fs-lg-1">一站式高級食材專門店</h2>
				</div>
			</div>
			<div class="swiper-slide slide-2">
				<div class="d-flex w-100 h-100 justify-content-center align-items-center position-relative z-2">
					<h2 class="text-bold text-gray-400 fs-4 fs-lg-1">國際認可衛生標準生產廠房</h2>
				</div>
			</div>
			<div class="swiper-slide slide-3">
				<div class="position-absolute top-5 start-11 top-lg-16 start-lg-21">
					<h2 class="fs-0"><img class="w-195 w-lg-324" src="../assets/images/logo.png" alt="" />Delifans</h2>
					<h3 class="text-bold text-gray-400 fs-5 fs-lg-3">
						送貨服務 <br />最快<span class="fs-4 fs-lg-1">3個工作天</span> <br />購物滿<span class="h1">$500</span
						>即可免運費
					</h3>
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<a
			href="javascript:;"
			class="swiper-button d-none d-lg-block fs-0 swiper-button-prev top-50 translate-middle-y start-n22"
			>Go to Prev Slide</a
		>
		<a
			href="javascript:;"
			class="swiper-button d-none d-lg-block fs-0 swiper-button-next top-50 translate-middle-y end-n22"
			>Go to Next Slide</a
		>
	</div>
</div>
