<div>
	<div class="home-banner swiper position-relative" id="home-banner">
		<!-- Additional required wrapper -->
		<div class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide">Slide 1</div>
			<div class="swiper-slide">Slide 2</div>
			<div class="swiper-slide">Slide 3</div>
			...
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<a href="javascript:;" class="swiper-button fs-0 swiper-button-prev">Go to Prev Slide</a>
		<a href="javascript:;" class="swiper-button fs-0 swiper-button-next">Go to Next Slide</a>
	</div>
</div>
