<footer class="footer bg-brand-200">
  <div class="container">

    <div class="footerUpper pt-9 pt-lg-11 text-center">
      <a href="#" class="logo d-block lh-0 mx-auto"><img class="img-fluid" src="../assets/images/logo.png" alt="Delifans"></a>
      <nav class="pt-5 pb-9">
        <ul class="nav justify-content-center">
          <li class="nav-item"><a class="nav-link" href="javascript:;">首頁</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">貨品總覽</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">最新消息</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">關於我們</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">條款及細則</a></li>
          <li class="nav-item"><a class="nav-link" href="javascript:;">常見問題</a></li>
        </ul>
      </nav>
    </div>

    <div class="footerLower border border-lineColor border-start-0 border-end-0 border-bottom-0 py-8">
      <p class="text-brand-300 text-center">Copyright @2022 DeliFans All rights reserved.</p>
    </div>
  </div>
</footer>