.home-banner {
	height: 480px;
	transition: height 0.25s ease 0s;
	max-width: 1296px;
	@include media-breakpoint-down(lg) {
		height: 400px;
	}
	.swiper-slide {
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		&:is(.swiper-slide-active) {
			&:before {
				content: "";
				display: block;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
		&:is(:not(.swiper-slide-active)) {
			opacity: 0.2;
		}
		&.slide-1 {
			background-image: url("/assets/images/swiper-banner-1.png");
			@include media-breakpoint-down(lg) {
				background-image: url("/assets/images/swiper-banner-1-sm.png");
			}
		}
		&.slide-2 {
			background-image: url("/assets/images/swiper-banner-2.png");
			@include media-breakpoint-down(lg) {
				background-image: url("/assets/images/swiper-banner-2-sm.png");
			}
		}
		&.slide-3 {
			background-image: url("/assets/images/swiper-banner-3.png");
			@include media-breakpoint-down(lg) {
				background-image: url("/assets/images/swiper-banner-3-sm.png");
			}
		}
	}
	.swiper-pagination-bullet {
		background-color: $line-color;
	}
}

// section style

#aim {
	.aim-icon {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: 48px 48px;
		@include media-breakpoint-down(lg) {
			background-size: 40px 40px;
		}
	}
	.col {
		&:nth-child(1) .aim-icon {
			background-image: url("/assets/images/aim-star.svg");
		}
		&:nth-child(2) .aim-icon {
			background-image: url("/assets/images/aim-safe.svg");
		}
		&:nth-child(3) .aim-icon {
			background-image: url("/assets/images/aim-money.svg");
		}
		&:nth-child(4) .aim-icon {
			background-image: url("/assets/images/aim-heart.svg");
		}
		& > div {
			transition: all 0.25s ease 0s;
		}
		&:is(:hover, :focus) > div {
			box-shadow: 0 0 15px 1px rgba(85, 85, 85, 0.2);
		}
	}
}

.product-item {
	.product-imgBlk {
		padding-top: 58.823%;
	}
	img {
		transition: all 0.25s ease 0s;
	}
	&:is(:hover, :focus) {
		img {
			transform: translate(-50%, -50%) scale(1.15) !important;
		}
	}
	.rank {
		width: 3.5rem;
		height: 3.5rem;
		background-image: url("/assets/images/rank.svg");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
	}
}

// #popular-item
.popular-item {
	.swiper-slide > .row > .col:nth-child(1) {
		display: none;
	}
}
