<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Delifans - Index</title>
	</head>
	<body>
		<div class="wraper">
			<%- include('./layout/header'); -%> <%- include('./layout/banner'); -%>
			<div class="container">
				<section id="aim" class="pt-9 pt-lg-16">
					<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-5 g-md-8 g-lg-12">
						<div class="col">
							<div
								class="h-100 px-5 py-7 px-lg-8 pt-lg-8 pb-lg-5 border border-brand-300 border-2 rounded-4 text-center"
							>
								<div class="d-inline-block bg-brand-300 rounded-circle mb-5 w-13 w-lg-16 h-13 h-lg-16 aim-icon"></div>
								<h2 class="h5 fw-semibold text-gray-100 mb-5">更優質</h2>
								<p class="text-gray-200 mb-2">
									環球供應商全經嚴謹挑選，品牌皆屬同類產品中的頂級，每件貨品均為原廠優質出品
								</p>
							</div>
						</div>
						<div class="col">
							<div
								class="h-100 px-5 py-7 px-lg-8 pt-lg-8 pb-lg-5 border border-brand-300 border-2 rounded-4 text-center"
							>
								<div class="d-inline-block bg-brand-300 rounded-circle mb-5 w-13 w-lg-16 h-13 h-lg-16 aim-icon"></div>
								<h2 class="h5 fw-semibold text-gray-100 mb-5">更安全</h2>
								<p class="text-gray-200">
									所有產品均依法直接進口。每批來貨均附有原產地發出之衛生檢定証書，使所有產品均可追蹤產地來源，食品安全絕對保証
								</p>
							</div>
						</div>
						<div class="col">
							<div
								class="h-100 px-5 py-7 px-lg-8 pt-lg-8 pb-lg-5 border border-brand-300 border-2 rounded-4 text-center"
							>
								<div class="d-inline-block bg-brand-300 rounded-circle mb-5 w-13 w-lg-16 h-13 h-lg-16 aim-icon"></div>
								<h2 class="h5 fw-semibold text-gray-100 mb-5">更實惠</h2>
								<p class="text-gray-200">因產品是直接進口，大大減少中間商利潤，故DeliFans會以更超值之優惠價格發售</p>
							</div>
						</div>
						<div class="col">
							<div
								class="h-100 px-5 py-7 px-lg-8 pt-lg-8 pb-lg-5 border border-brand-300 border-2 rounded-4 text-center"
							>
								<div class="d-inline-block bg-brand-300 rounded-circle mb-5 w-13 w-lg-16 h-13 h-lg-16 aim-icon"></div>
								<h2 class="h5 fw-semibold text-gray-100 mb-5">更貼心</h2>
								<p class="text-gray-200">
									於行內逾三十多年的豐富經驗，對環球優質食材的豐富產品知識，以至烹調及處理方法均樂意與大家一同分享
								</p>
							</div>
						</div>
					</div>
				</section>
				<section id="new-item" class="pt-9 pt-lg-16 pb-8 pb-lg-14">
					<div class="position-relative">
						<div class="d-flex justify-content-between align-items-center mb-8 mb-lg-9">
							<h2 class="fs-4 fs-lg-2 lh-1_2 fw-bold">最新貨品</h2>
							<a
								class="position-relative text-brand-200 text-brand-300-hover px-5 fs-6 fs-lg-4 moreLink"
								href="javascript:;"
								>查看更多</a
							>
						</div>
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food01.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food02.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food03.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">日本幸子非籠飼雞蛋10隻 </span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 35.00</span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food04.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 105.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food05.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food07.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food08.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2"
												>日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻
											</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 60.00</span>
												<span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food06.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div
								class="swiper-pagination position-relative top-inherit start-inherit bottom-inherit pt-8 pt-lg-9 pb-2"
							></div>
						</div>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-prev top-50 translate-middle-y"
							>Go to Prev Slide</a
						>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-next top-50 translate-middle-y"
							>Go to Next Slide</a
						>
					</div>
				</section>
			</div>
			<section id="discount-item" class="bg-gray-400 pt-9 pt-lg-16 pb-8 pb-lg-14">
				<div class="container">
					<div class="position-relative">
						<div class="d-flex justify-content-between align-items-center mb-8 mb-lg-9">
							<h2 class="fs-4 fs-lg-2 lh-1_2 fw-bold">減價貨品</h2>
							<a
								class="position-relative text-brand-200 text-brand-300-hover px-5 fs-6 fs-lg-4 moreLink"
								href="javascript:;"
								>查看更多</a
							>
						</div>
						<div class="swiper">
							<div class="swiper-wrapper">
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food04.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food02.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food10.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">日本幸子非籠飼雞蛋10隻 </span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 55.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food12.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 105.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food09.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
												><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food05.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
												<span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food01.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2"
												>日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻
											</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 60.00</span>
												<span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food07.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
								<div class="swiper-slide">
									<a
										class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
										href="javascript:;"
									>
										<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
											<img
												class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
												src="../assets/images/Food08.png"
												alt=""
											/>
										</span>
										<span class="product-text d-flex flex-column px-5 py-3">
											<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
											<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
												<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
											</span>
										</span>
									</a>
								</div>
							</div>
							<div
								class="swiper-pagination position-relative top-inherit start-inherit bottom-inherit pt-8 pt-lg-9 pb-2"
							></div>
						</div>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-prev top-50 translate-middle-y"
							>Go to Prev Slide</a
						>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-next top-50 translate-middle-y"
							>Go to Next Slide</a
						>
					</div>
				</div>
			</section>
			<div class="container">
				<section id="popular-item" class="pt-9 pt-lg-16 pb-8 pb-lg-20">
					<div class="position-relative">
						<div class="d-flex justify-content-between align-items-center mb-8 mb-lg-9">
							<h2 class="fs-4 fs-lg-2 lh-1_2 fw-bold">暢銷貨品</h2>
							<a
								class="position-relative text-brand-200 text-brand-300-hover px-5 fs-6 fs-lg-4 moreLink"
								href="javascript:;"
								>查看更多</a
							>
						</div>
						<div class="row row-cols-1 row-cols-lg-2 g-8">
							<div class="col-lg-6">hihihihih</div>
							<div class="col-lg-6">
								<div class="swiper">
									<div class="swiper-wrapper">
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food01.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
														><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food02.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food03.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">日本幸子非籠飼雞蛋10隻 </span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 35.00</span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food04.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
														><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 105.00</del></span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food05.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">越南Marina Fresh 特大鳳尾虎蝦仁 500G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span
														><span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food07.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">美國安格斯肥牛粒 200G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food08.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2"
														>日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻日本幸子非籠飼雞蛋10隻
													</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 60.00</span>
														<span class="text-gray-200 w-100 w-lg-auto"><del>HK$ 80.00</del></span>
													</span>
												</span>
											</a>
										</div>
										<div class="swiper-slide">
											<a
												class="product-item d-block h-100 position-relative overflow-hidden rounded-4 text-gray-100 bg-white-hover"
												href="javascript:;"
											>
												<span class="product-imgBlk d-block h-0 overflow-hidden rounded-4 position-relative">
													<img
														class="position-absolute w-100 h-100 top-50 start-50 translate-middle"
														src="../assets/images/Food06.png"
														alt=""
													/>
												</span>
												<span class="product-text d-flex flex-column px-5 py-3">
													<span class="product-title line-clamp-2">波蘭ANIMEX YANO 天然無激素豬梅肉扒 500G</span>
													<span class="d-flex flex-wrap flex-xl-nowrap align-items-center mt-auto">
														<span class="h5 text-brand-400 fw-semibold me-2 w-100 w-lg-auto">HK$ 75.00</span>
													</span>
												</span>
											</a>
										</div>
									</div>
									<div
										class="swiper-pagination position-relative top-inherit start-inherit bottom-inherit pt-8 pt-lg-9 pb-2"
									></div>
								</div>
							</div>
						</div>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-prev top-50 translate-middle-y"
							>Go to Prev Slide</a
						>
						<a
							href="javascript:;"
							class="swiper-button d-none d-lg-block fs-0 swiper-button-next top-50 translate-middle-y"
							>Go to Next Slide</a
						>
					</div>
				</section>
			</div>
			<%- include('./layout/footer'); -%>
		</div>

		<script type="module" src="../main.js"></script>
	</body>
</html>
